
.botonTarea{
    margin-top: 30px;
    width: 100px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #70337b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }
.botonTarea:hover {
      background-color: #a60398;
    }


.botonTarea:disabled{
  opacity: 30%;
}


